<div class='channel-form'>
  <h1>新規チャンネル</h1>
  <%=form_with model: @channel, local: true do |f|%>
    <div class='channel-form__field'>
      <div class='channel-form__field--left'>
        <%= f.label :チャンネル名, class: 'channel-form__label'%>
      </div>
      <div class='channel-form__field--right'>
        <%= f.text_field :channel_name, class: 'chat__room_name channel-form__input', placeholder: 'チャンネル名を入力してください'%>
      </div>
    </div>
    <div class='channel-form__field'>
    </div>
    <div class='channel-form__field'>
      <div class='channel-form__field--left'>
        <label class='channel-form__label' for='chat_room_チャットメンバー'>チャットメンバー</label>
      </div>
      <div class='channel-form__field--right'>
        <select channel_name="channel[user_ids][]">
          <option value="">ユーザーを選択してください</option>
          <% User.where.not(id: current_user.id).each do |user| %>
            <option value=<%= user.id %>><%= user.name %></option>
          <% end %>
        </select>
        <input name="channel[user_ids][]" type="hidden" value=<%= current_user.id%>>
      </div>
    </div>
    <div class='channel-form__field'>
      <div class='channel-form__field--left'></div>
      <div class='channel-form__field--right'>
        <%= f.submit class: 'channel-form__action-btn'%>
      </div>
    </div>
  <% end %>
</div>
