<div class='channel-form'>
  <h1>新規チャンネル</h1>
  <%=form_with model: @channel, local: true do |f|%>
  <%= render 'shared/error_messages', model: f.object %>
    <div class='channel-form-box'>
      <div class='channel-form-left'>
          <%= f.label :チャンネル名, class: 'channel-form__label'%>
          <div class="necessary"><%='必須'%></div>
      </div>
      <div class='channel-form-box--right'>
        <%= f.text_field :channel_name, class: 'chat__room_name channel-form__input', placeholder: 'チャンネル名を入力してください'%>
      </div>
    </div>
    <div class='channel-form-box'>
    </div>
    <div class='channel-form-box'>
      <div class='channel-form-left'>
        <label class='channel-form__label' for='chat_room_チャットメンバー'>チャットメンバー</label>
      </div>
      <div class='channel-form-right'>
        <select name="channel[user_ids][]">
          <option value="">ユーザーを選択してください</option>
          <% User.where.not(id: current_user.id).each do |user| %>
            <option value=<%= user.id %>><%= user.name %></option>
          <% end %>
        </select>
        <input name="channel[user_ids][]" type="hidden" value=<%= current_user.id%>>
      </div>
    </div>
    <div class='channel-form-box'>
      <div class='channel-btn'>
          <%= link_to '戻る', root_path ,class:'link-btn'%>
          <%= f.submit "チャンネル作成" ,class:'channel-form-btn'%>
      </div>
    </div>
  <% end %>
</div>
