
<div class="nested-fields">

   

    <script type="text/javascript" language="javascript">


    function onButtonClickBefore() {
    let now = new Date();
    let Hour = now.getHours();
    let Min = now.getMinutes();
    let Sec = now.getSeconds();
    let now_time = Hour + ":" + Min + ":" + Sec;

      document.forms.id_form1.id_textBox1.value = now_time;
    }


    function onButtonClickAfter() {
    let now = new Date();
    let Hour = now.getHours();
    let Min = now.getMinutes();
    let Sec = now.getSeconds();
    let now_time = Hour + ":" + Min + ":" + Sec;

      document.forms.id_form2.id_textBox2.value = now_time;
    }
    
    </script>


  <div class="add-forms-show">
      
    <div class="add-forms">
      <div class="box-text"><%='製品名'%></div>
      <%= f.text_field :production_name ,class:"box-add-form" %>
    </div>

    <div class="add-forms">
      <div class="box-text"><%='製造番号'%></div>
      <%= f.text_field :serial_number ,class:"box-add-form" %>
    </div>

    <div class="add-forms">
      <div class="box-text"><%='開始時間'%></div>
      <%= f.text_field :start_time ,class:"box-add-form-time" %>
    </div>

    <div class="add-forms">
      <div class="box-text"><%='終了時間'%></div>
      <%= f.text_field :ending_time ,class:"box-add-form-time"%> 
    </div>
    <div >
      <div class="check-box">
        <div class="box-text">
          <%='不具合: '%><%= f.check_box :problem ,{}, "true", "false" %>
        </div>
        </div>
        <div class="box-text">
          <%='記入忘れ: '%><%= f.check_box :forgetting ,{}, "true", "false" %>
        </div>
      </div>
      <%= link_to_remove_association "削除", f , class:"btn btn-outline-secondary delete-btn"%>
    </div>
  </div>
</div>


