
<div class="nested-fields">
 <table>
   
    <tr>
    <script type="text/javascript" language="javascript">


    function onButtonClickBefore() {
    let now = new Date();
    let Hour = now.getHours();
    let Min = now.getMinutes();
    let Sec = now.getSeconds();
    let now_time = Hour + ":" + Min + ":" + Sec;

      document.forms.id_form1.id_textBox1.value = now_time;
    }


    function onButtonClickAfter() {
    let now = new Date();
    let Hour = now.getHours();
    let Min = now.getMinutes();
    let Sec = now.getSeconds();
    let now_time = Hour + ":" + Min + ":" + Sec;

      document.forms.id_form2.id_textBox2.value = now_time;
    }
    
    </script>
      <div class="d-flex justify-content-around my-3 mx-3">
        <div class= col-2.5>
          <%= f.text_field :production_name ,class:"form-control form-control-lg" ,placeholder:"製品名" %>
        </div>
        
        <div class= col-2.5>
          <%= f.text_field :serial_number ,class:"form-control form-control-lg" ,placeholder:"製造番号" %>
        </div>
        
        <div class= col-0.5>
            <%= f.text_field :start_time ,class:"form-control form-control-lg" ,placeholder:"開始時間" ,value:"" %>
        </div>

        <div class= col-0.5>
            <%= f.text_field :ending_time ,class:"form-control form-control-lg",placeholder:"終了時間" ,value:"" %> 
        </div>

        <div class= check-box>
          <p class="text-end">不具合：</p>
          <%= f.check_box :problem ,{}, "true", "false" %>
          <p class="text-end">忘れ：</p>
          <%= f.check_box :forgetting ,{}, "true", "false" %>
        </div>


          <%= link_to_remove_association "削除", f %>
      </div>
    </tr>
  </table>
</div>