
<div class="nested-fields">

  <div class="add-forms-show">
      
    <div class="add-forms">
      <div class="box-text"><%='製品名'%></div>
      <%= f.text_field :production_name ,class:"box-add-form col-12" %>
    </div>

    <div class="add-forms">
      <div class="box-text"><%='製造番号'%></div>
      <%= f.text_field :serial_number ,class:"box-add-form col-12" %>
    </div>

    <div class="add-forms">

      <div class="box-text-parent">
        <div class="box-text"><%='開始時間'%></div>
        <div class="necessary"><%='必須'%></div>
      </div>
      <%= f.text_field :start_time ,class:"box-add-form-time col-12" ,type:"time"%>
    </div>

    <div class="add-forms">
      <div class="box-text-parent">
        <div class="box-text"><%='終了時間'%></div>
        <div class="necessary"><%='必須'%></div>
      </div>
      <%= f.text_field :ending_time ,class:"box-add-form-time col-12", type:"time"%> 
    </div>
    <div >
      <div class="check-box">
        <div class="box-text">
          <%='不具合: '%><%= f.check_box :problem ,{}, "true", "false" %>
        </div>
        </div>
        <div class="box-text">
          <%='記入忘れ: '%><%= f.check_box :forgetting ,{}, "true", "false" %>
        </div>
      </div>
      <%= link_to_remove_association "削除", f , class:"btn btn-outline-secondary delete-btn"%>
    </div>
  </div>
</div>


