<!doctype html>
<html lang="ja">
  <head>
  </head>
  <body>

    <section class= "row">
      <header class="border-bottom">
        <div class="d-flex justify-content-between">
          <div class="col-2 user-name">
            <div class="text-center">
             <%= link_to current_user.name, edit_user_path(current_user), class:'link-btn-user'%>
            </div>
          </div>
          <div class="col-10 bg-secondary">
              <div class="float-start ">
               <%= link_to 'ログアウト', destroy_user_session_path, method: :delete ,class:'link-btn' %>
              </div>

              <div class="float-end">
               <%= link_to '新規作成', new_channel_work_path(params[:channel_id]), method: :get ,class:'link-btn-new' %>
              </div>
          </div>
        </div>
      </header>
    </section>

    <div class="bottom-content">
      <div class="channel-box col-2">
        <div class= "channel-list" >
          <div class= "channel-item">
            <div class="channel-list-name col-12">
              <%= link_to "チャンネルを作成する", new_channel_path, class:'new-channel col-12' %>
            </div>
            <div class="channel-table">
              <div class="channel-names">
                <% current_user.channels.each do |channel| %>
                    <%= link_to channel.channel_name,channel_works_path(channel) , class:'list-group-item col-11' %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="channel-delete">
            <%= link_to "チャンネルを削除", channel_path(@channel), method: :delete, class:'channel-list-delete col-12' %>
          </div>
        </div>
      </div>
      

      <section class="index-box col-10">
        <div class=index-box-image>
        <p>テスト</p>
<script type="text/javascript">
  $(document).ready(function() {
    $("p").text("成功！！");
  });
</script>
        </div>
        <%# 日付検索機能 %>
        <%#= form.datetime_field :sample_at %>


                <%# @channel.each do |work|%>
          <li class='list'>

          <%# works一覧表示の予定地 %>
            <%# <div class="card" style="width: 18rem;"> %>
              <%#= link_to 詳細ページ, method: :get do %>
              <ul class="list-group list-group-flush">
                <%# <li class="list-group-item"> <%= work.user %></li>
                <%# <li class="list-group-item"><%= work.date %></li>
                <%# <li class="list-group-item"><%= work.process_name %></li>
              </ul>
            <%# </div> %>
            <%# <% end %>
          </li>
        <%# <% end %>
      </section>
    </div>



  </body>
</html>