
<%= form_with model: [@channel, @work], local: true do |f| %>
  <%= render 'shared/error_messages', model: f.object %>
    <div class="row mt-3">
      <div class="border-bottom pb-3">
        <div class="d-flex justify-content-around">
          <div class="date-works col-3">
            <div class="box-text-parent">
              <div class="box-text"><%='日付'%></div>
              <div class="necessary"><%='必須'%></div>
            </div>
            <%= f.date_field :date ,class: 'form-control' ,placeholder:"日付" %>
          </div>
          <div class="date-works col-4">
            <div class="box-text-parent">
              <div class="box-text"><%='工程名'%></div>
              <div class="necessary"><%='必須'%></div>
            </div>
            <%= f.text_field :process_name, class: 'form-control' %>
          </div>
          <div class="text-right">
            <%= link_to '戻る', channel_works_path(@channel.id) ,class:'link-btn'%>
          </div>
        </div>
      </div>
    </div>


    <div class="add_from">
      <%= link_to_add_association "フォームを追加", f, :add_forms,
        class: "btn btn-outline-secondary mr-3",
        id: 'add-btn',
        data: {
          association_insertion_node: '#detail-association-insertion-point',
          association_insertion_method: 'after'
        }
      %>
      
    </div>

      <%= f.fields_for :add_forms do |form| %>
          <%= render "add_form_fields", f: form %>
      <% end %>

    <div id="detail-association-insertion-point"></div>

    <div class="d-flex align-items-center">
      <%= f.submit "保存する" ,class:"btn btn-secondary"%>
    </div>

<% end %>  




<%# <script type="text/javascript" src="javascript/work.js"></script> %>