<div class="row mt-3">
  <div class="border-bottom pb-3">
    <div class="d-flex justify-content-around">
      <div class="date-works col-3">
        <div class="box-text"><%='日付'%></div>
        <div class="form-control"><%= @work.date %></div>
      </div>
      <div class="date-works col-4">
        <div class="box-text"><%='工程名'%></div>
        <div class="form-control"><%= @work.process_name %></div>
      </div>
      <div class="text-right">
       <%= link_to '戻る', channel_works_path(@channel.id) ,class:'link-btn'%>
      </div>
    </div>
  </div>
</div>




<% @add_forms.each do |add|%>
<div class="add-forms-show">
  <div class="add-forms">
    <div class="box-text"><%='製品名'%></div>
    <div class="box-add-form"><%= add.production_name %></div>
  </div>

  <div class="add-forms">
    <div class="box-text"><%='製造番号'%></div>
    <div class="box-add-form"><%= add.serial_number %></div>
  </div>

  <div class="add-forms">
    <div class="box-text"><%='開始時間'%></div>
    <div class="box-add-form-time"><%= add.start_time %></div>
  </div>

  <div class="add-forms">
    <div class="box-text"><%='終了時間'%></div>
    <div class="box-add-form-time"><%= add.ending_time %></div>
  </div>

  <div >
    <div class="check-box">
      <div class="box-text">
        <%='不具合: '%>
        <%if add.problem %>
         <%='あり'%>
        <%else%>
         <%='なし'%>
        <% end %>
      </div>
      </div>
      <div class="box-text">
        <%='記入忘れ: '%>
        <%if add.forgetting %>
         <%='あり'%>
        <%else%>
         <%='なし'%>
        <% end %>
      </div>
    </div>
  </div>

</div>
<% end %>

<%if current_user.id == @work.user_id %>
  <div class="link-buttons">
    <%= link_to '編集', edit_channel_work_path(@channel,@work) ,class:'link-btn-edit' %>
    <%= link_to '削除', channel_work_path(@channel,@work), method: :delete ,class:'link-btn-destroy' %>
  </div>
<% end %>